<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

			
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Product Quote</h4>
      </div>
      <div class="modal-body">
        

      	<div class="omgrfq-form">
			<div class="form-group form-group-100">
			    <div><p class="form-field-simple">WHY DON'T WE SHOW PRICING? In some cases some manufactures restrict showing pricing or sale information online. But, we also want to insure you are getting the correct items for the best price possible, so we manually check everytime you submit a request.</p>
			    </div>
			</div>
			<div class="form-group form-group-100">
			    <div><p class="form-field-simple">NEED MULTIPLE ITEMS? You can add more items to this request, simply close this pop-up, find your next item &amp; click 'Add To Quote'.</p>
			    </div>
			</div>
			<div class="form-group form-group-50">
			    <label class="control-label">Name</label>
			    <div><input type="text" id="omgrfq-form_2" name="omgrfq-form_2" placeholder="Enter your name" class="form-control input-md">
			    </div>
			</div>
			<div class="form-group form-group-50">
			    <label class="control-label">Email<span class="star">&nbsp;*</span></label>
			    <div><input type="email" id="omgrfq-form_3" name="omgrfq-form_3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$" placeholder="Enter your email" class="form-control input-md" required="">
			    </div>
			</div>
			<div class="form-group form-group-50">
			    <label class="control-label">Daytime Phone</label>
			    <div><input type="text" id="omgrfq-form_4" name="omgrfq-form_4" placeholder="Enter your Phone" class="form-control input-md">
			    </div>
			</div>
			<div class="form-group form-group-100">
			    <label class="control-label">Message</label>
			    <div><textarea class="form-control" id="omgrfq-form_5" name="omgrfq-form_5" placeholder="Product/Project questions or concerns"></textarea>
			    </div>
			</div>
			<div class="form-group form-group-100">
			    <div><p class="form-field-simple">BEFORE YOU SUBMIT!! Please be sure to add all of the items you want on a single quote, and check the quantities above before submitting this form. Submitting multiple quote requests will result in you receiving multiple quotes.</p>
			    </div>
			</div>
			<div class="form-group form-group-100">
			    <div><p class="form-field-simple">REMEMBER! You can click 'View Quote' at the top of the site anytime to access this form again when your ready to submit your request.</p>
			    </div>
			</div>
			    <div class="form-group text-center">
			        <div id="form-recaptcha"></div>
			    </div>
			    <div class="form-group text-center">
			        <div style="position: relative;"><a class="btn omgrfq_continue_shopping" href="javascript:void(0)">Continue Shopping</a><p class="notice_submit_form" style="position: absolute;    position: absolute; top: -26px; left: 30%; color: red;"></p>
			            <input type="submit" id="submitOMGRFQForm" name="submitOMGRFQForm" value="Submit Request" class="btn btn-primary">
			        </div>
			    </div>
			</div>
		</div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>